.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.Footer {
  position: relative;
  bottom: 0;
  /* left: 0; */
  width: 100%;
  z-index: 999;
}

.cart-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 20px 80px;
}


.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.cart-item img {
  border-radius: 8px;
  margin-right: 20px;
}

.item-details {
  flex: 1;
}

.item-details h3 {
  margin: 0 0 10px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.quantity-control button {
  background: #222;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.quantity-control button:hover {
  background: #f90;
}

.item-total {
  font-weight: bold;
  margin-top: 5px;
}

.cart-total {
  text-align: right;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}

.empty-cart {
  text-align: center;
  margin: 50px 0;
  padding: 100px 20px 80px;
  font-size: 30px;
}